body {
  background-color: #c6daf1;
}

.title {
  text-align: left;
  font-size: 34px;
}

.boardWrapper {
  background-color: #f3eded;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 20px;
}

section {
  padding: 0px 10px;
}

section .username {
  color: green !important;
  font-weight: 700;
}

section .titleArea {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

section .nameArea {
  display: flex;
  align-items: center;
  margin-bottom: -14px;
  font-size: 10px;
}

section .comment {
  margin-top: 0;
  font-size: 10px;
  overflow-wrap: break-word;
  /* margin-left: 20px; */
}

.success_message {
  color: green;
  padding-left: 10px;
}

.error_message {
  color: red;
  padding-left: 10px;
}

.formWrapper {
  padding: 16px;
  margin-left: 20px;
}

.commentTextArea {
  margin-top: 10px;
  width: 80%;
  height: 90px;
}

.titleTextArea {
  width: 80%;
  height: 20px;
}

.non-hyperlink {
  color: inherit;
  text-decoration: none;
}

/*hoverをしたらボックスに影がつき、上に上がる*/
.float3:hover {
	background-color: #F8F4F4;
}

.header__flex {
  display: flex;
  height:60px;
  align-items: center;
}
.header__flex nav {
  margin-left: auto;
}